@font-face {
  font-family: "GloriaHallReg";
  src: url(../../fonts/GloriaHallelujah-Regular.ttf);
}
@font-face {
  font-family: "RockSaltReg";
  src: url(../../fonts/RockSalt-Regular.ttf);
}
@font-face {
  font-family: "AfacadReg";
  src: url(../../fonts/Afacad-Regular.ttf);
}
